.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper {
    width: 100%;
    height: 295px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    height: 390px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
  font-weight: 700;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.swiper-pagination-bullet {
  background: #8e8d8d;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
  background: var(--white);
}


/* @media (max-width: 850px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .swiper-container {
        height: 200px;
    }
} */

/* @media (max-width: 650px) {
    .swiper-container {
        height: 135px;
    }
} */