.filledVariantButton {
    /* background-color: #0F0F0F; */
    background-color: var(--orange-dark);
    color: #fff;
    padding: 9px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 0.90rem;
}

.filledVariantButton:hover {
    opacity: .88;
    transition: all 0.3s ease;
}

.borderVariantButton {
    background-color: var(--orange-lighter);
    color: var(--orange-dark);
    padding: 9px 20px;
    border-radius: 50px;
    cursor: pointer;
    /* border: 1.5px solid #ff6a00; */
    border: none;
    font-weight: 600;
    font-size: 0.90rem;
}

.borderVariantButton:hover {
    opacity: .75;
    transition: all 0.3s ease;
}

.btn-borderVariantButton:focus, .btn-filledVariantButton:focus {
    outline: none;
}


.filledVariantButton, .borderVariantButton {
    /* padding: 15px 30px; */
    /* font-size: 1.1rem; */
    font-weight: 600;
    /* border-radius: 8px; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
}

.filledVariantButton:hover, .borderVariantButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.impactBanner button:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 650px) {
    .filledVariantButton, .borderVariantButton {
        padding: 9px 15px;
    }
}