.container-page {
    background-color: var(--gray);
    width: 100vw;
    height: 100dvh;
}

.go-to-back-icon {
    cursor: pointer;
    width: 20px;
    padding: 30px 30px 0 30px;
}

.login-page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-success-message {
    background-color: var(--green-medium);
    padding: 20px;
    border-radius: 8px;
}

.form-input {
    width: 100%;
    margin: 15px 0;
}

.sign-up-link {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-top: 0px;
    margin: 0;
    cursor: pointer;
}


@media (max-width: 650px) {
    .container-page {
        background-color: var(--gray);
        width: 100vw;
        height: calc(100dvh - 120px);
    }

    .go-to-back-container {
        padding: 25px;
    }

    .login-page-container {
        /* height: 80vh; */
        /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}