.container {
    display: flex;
    width: 100%;
}

.businessContainer {
    width: 20%;
    border-right: 1px solid #dcdcdc;
    padding: 0 10px;
}

.userContainer {
    width: 20%;
    padding: 0 15px;
}

.messagesContainer {
    width: 60%;
    min-height: 90vh;
    max-height: 90vh;
    overflow: scroll;
    background-color: #f6f5f5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text {
    cursor: pointer;
    padding: 10px;
}

.active {
    background-color: var(--blue-light);
    color: #fff;
    padding: 10px;
}

.messageContainer {
    margin-bottom: 20px;
    margin-right: 25px;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    max-width: 100%;
    margin-left: 20px;
}

.flexContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.iconContainer {
    background-color: #7dd3fc;
    border-radius: 20px;
    padding: 9px 10px;
    display: flex;
    align-items: center;
}