.container-list-projects-mp {
    display: block;
    width: 100%;
    height: 85%;
    overflow: scroll;
}

.each-project-mp {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background-color: var(--white);
}