
.container-not-found-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 180px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 35px;
}

.text {
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
    margin-bottom: 15px;
}

.btn-go-to-home {
    padding: 10px 50px;
    margin: 20px 0;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}