.container-page {
    background-color: #fafafa;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

.go-to-back-icon {
    cursor: pointer;
    width: 20px;
    padding: 30px 30px 0 30px;
}

.sign-up-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1259c3; */
    height: 100%;
}

.form-container {
    width: 500px;
    background-color: #fff;
    padding: 30px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container-header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-business-name {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-name {
    font-size: 14px;
    font-weight: 400;
}

.business-found-icon {
    font-size: 18px;
    margin-left: 10px;
    color: #009f4d;
}

.form-input {
    width: 100%;
    margin: 15px 0;
}

.btn-sign-up {
    padding: 10px 50px;
    margin: 20px 0;
    background-color: #1259c3;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-sign-up:focus {
    outline: none;
}

.btn-sign-up:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.login-link {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-top: 0px;
    margin: 0;
    cursor: pointer;
}

.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.chip-desktop {
    display: block;
}

.chip-mobile {
    display: none;
}

.link-back-mobile {
    display: none;
}


@media (max-width: 650px) {
    .container-page {
        overflow: auto;
    }

    .sign-up-page-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        width: 100%;
        /* height: 100%; */
        background-color: #fff;
        padding: 25px;
        margin: 30px;
    }

    .btn-sign-up {
        margin: 10px 0;
    }

    .chip-desktop {
        display: none;
    }

    .chip-mobile {
        display: block;
    }

    .link-back-mobile {
        display: block;
        font-size: 17px;
        margin-right: 15px;
        color: #000;
        margin-top: 3px;
    }
}