
.container-private-user-page {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.user-name {
    font-size: 30px;
}

.text-permissions {
    font-size: 17px;
}