:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  /* --primary: ; */
  /* --secondary: ; */
  --white: #fff;
  --gray: #fafafa;
  --grayDark: #3f3e40;
  --black: #000;
  --dark: #27272a;
  --lightPink: #FFE5F4;
  --darkPink: #CC0078;
  --yellow: #ffc232;
  --orange: #ff9500;
  --blue: #369EB3;
  --lightBlue: #7dd3fc;
  --red: #ef4444;
  --green: #00a650;

  /* Nuevos colores del branding */
  --orange-dark: #FF6B00;
  --orange-light: #fddfd3;
  --orange-lighter: #faf0eaff;
  
  --blue-dark: #00aeef;
  --blue-medium: #00aeef;
  --blue-light: #d9eaed;
  
  --green-dark: #1c6837;
  --green-medium: #24c871;
  --green-light: #e3fef2ff;

  --borderRadius: 6px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h1, h2, h3, h4 {
  color: #000;
}

p {
  font-size: 14.5px;
}