:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  /* --primary: ; */
  /* --secondary: ; */
  --white: #fff;
  --gray: #fafafa;
  --grayDark: #404040;
  --black: #000;
  --dark: #27272a;
  --lightPink: #FFE5F4;
  --darkPink: #CC0078;

  --borderRadius: 6px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
